<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hermes.hermes.mapper.PurchaseMapper">
    <insert id="insertPurchase" parameterType="com.hermes.hermes.dto.Purchase">
        INSERT INTO purchase (
            purchase_product_reg_num,
            purchase_order_id,
            purchase_product_size,
            purchase_user_id,
            purchase_date,
            purchase_status
        ) VALUES (
                     #{purchase_product_reg_num},
                     #{purchase_order_id},
                     #{purchase_product_size},
                     #{purchase_user_id},
                     #{purchase_date},
                     #{purchase_status}
                 )
    </insert>
</mapper>
