<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hermes.hermes.mapper.UserMapper">

    <select id="getAllUsers" >
        SELECT * FROM USER
    </select>
    <insert id="insertUser" parameterType="com.hermes.hermes.dto.User">
        INSERT INTO USER (user_reg_num, user_id, user_pw, user_name, user_verification_answer, user_history)
        VALUES (NULL, #{user_id}, #{user_pw}, #{user_name}, #{user_verification_answer}, #{user_history});
    </insert>

    <select id="My_Page_Current_User_Info">
        SELECT *
        FROM USERPROFILE
    </select>

    <select id="getImage">
        SELECT PRODUCT_IMAGE
        FROM PRODUCT
        WHERE PRODUCT_REG_NUM = #{productId}
    </select>

    <select id="findByUsername">
        SELECT NAME
        FROM USER
        WHERE NAME = #{name}
    </select>

    <select id="findByUserId" parameterType="String" resultType="com.hermes.hermes.dto.User">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>
</mapper>